:host{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
}

.chartjs {
  display: block;
  width: 93%;
  max-width: 600px;
  position: relative;
  margin: 30px auto;
  padding: 35px 15px;
  overflow: hidden;
}

.list-card .card{
  margin: 15px;
}
